.todoControlPanel {
  display: none;
  flex-basis: 40%;
  background-color: aliceblue;

  &_visible {
    display: block;

    @media(max-width: 600px) {
      position: absolute;
      background-color: white;
      width: 100%;
    }
  }

}




