.optionsContainer {
  width: 190px;
  background-Color: white;
  display: none;
  position: absolute;
  top: 100%;
  left: 25%;
  
  @media (max-width: 835px) {
    left: 0%;
  }

  @media (max-width: 599px) {
    left: 20%;
  }
  
}

.optionsContainer_visible {
  display: block;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: lightblue;
}