.form {
  padding-top: 30px;
}

.container {
  position: relative;
}

.dueDateBox {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%
 
}